<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="">task name</label>
        <input type="text" name="task_name" value="{{a.taskname}}">
        <label for="">task date</label>
        <input type="date" name="task_date" value="{{a.date|date:'Y-m-d'}}">
        <button>update</button>
    </form>
</body>
</html>